:root {
  --ct-landing-text: #304400;
  --ct-landing-bg: #FDFBF7;
  --ct-landing-footer-font: #4E6D03;
  --ct-landing-red: #AD2D24;
}

* {
	padding: 0px;
	margin: 0px;
	/* border: none; */
  /* border: 1px solid salmon; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

/* a {
  color: inherit;
} */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--ct-landing-text);
  font-family: 'Candara';
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Candara';
  src: url('fonts/candara.ttf');
}

@font-face {
  font-family: 'Lighthouse';
  src: url('fonts/Lighthaus.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Uncial Antiqua';
  src: url('fonts/UncialAntiqua-Regular.ttf');
}

.wrap {
  margin: 0 auto;
  max-width: 97.22%;
}

header {
  background: linear-gradient(270deg,
   rgba(255, 255, 255, 0.00) -19.35%,
    rgba(255, 255, 255, 0.70) 49.95%,
     rgba(255, 255, 255, 0.00) 131.52%,
      rgba(255, 255, 255, 0.00) 131.52%);
  backdrop-filter: blur(2.5px);
  background-image: url(assets/bg/bg.png);
}

header li {
  display: inline-block;
}

.header__bottom-container {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Roboto';
}

header nav ul li:nth-child(2) {
  margin-left: auto;
}

header nav ul li:last-child {
  margin-left: 7.4%;
}

.header__upper-container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 267px;
}

.logo {
  font-family: 'Unical Antiqua';
  font-size: 45px;
  font-weight: normal;
  color: var(--ct-landing-red);
}

.header_wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* main */

/* enjoy */

.enjoy {
  background-image: url(assets/bg/bg.png);
  background-position: -10%;
  padding-top: 385px;
  padding-right: 740px;
  padding-bottom: 50px;
}

.window {
  border-radius: 0px 25px 25px 0px;
  background: rgba(253, 251, 247, 0.80);
  backdrop-filter: blur(12.5px);
}

.tagline {
  color: var(--ct-landing-text);
  font-family: 'Lighthaus';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 130% */
  letter-spacing: 1px;
}

.describe {
  color: var(--ct-landing-text);
  font-family: 'Candara';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  width: 350px;
  height: 80px;
  background: var(--ct-landing-red);
  color: var(--ct-landing-bg);
  border-radius: 25px;
  padding: 23px 95px;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.btn:hover {
  background: #932F14;
}

.window_enjpoy {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 55px;
  padding-bottom: 50px;
  gap: 31px;
}