:root {
  --ct-landing-text: #304400;
  --ct-landing-bg: #FDFBF7;
  --ct-landing-footer-font: #4E6D03;
  --ct-landing-red: #AD2D24;
  --ct-landing-main: #B74324;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
	/* border: 1px solid salmon; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

/* a {
  color: inherit;
} */

a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--ct-landing-text);
  font-family: 'Candara';
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Candara';
  src: url('fonts/candara.ttf');
}

@font-face {
  font-family: 'Lighthouse';
  src: url('fonts/Lighthaus.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Uncial Antiqua';
  src: url('fonts/UncialAntiqua-Regular.ttf');
}

.wrap {
  margin: 0 auto;
  max-width: 97.22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 95.22%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) -19.35%, rgba(255, 255, 255, 0.70) 49.95%, rgba(255, 255, 255, 0.00) 131.52%, rgba(255, 255, 255, 0.00) 131.52%);
  backdrop-filter: blur(2.5px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--ct-landing-bg);
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

header a:hover {
  color: var(--ct-landing-red);
}

/* main */

/* enjoy */

.enjoy {
  background-image: url(assets/bg/bg.png);
  background-position: -10%;
  padding-top: 27.5%;
  padding-right: 52.86%;
  padding-bottom: 3.57%;
}

.window {
  background: rgba(253, 251, 247, 0.80);
  backdrop-filter: blur(12.5px);
}

.tagline {
  color: var(--ct-landing-text);
  font-family: 'Lighthaus';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 130% */
  letter-spacing: 1px;
}

.describe {
  color: var(--ct-landing-text);
  font-family: 'Candara';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  width: 350px;
  height: 80px;
  background: var(--ct-landing-red);
  color: var(--ct-landing-bg);
  border-radius: 25px;
  padding: 23px 104px;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  background: #932F14;
}

.window_enjpoy {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 55px;
  padding-bottom: 50px;
  gap: 31px;
  border-radius: 0px 25px 25px 0px;
}

/* info */

.info {
  padding-top: 70px;
}

.section_title {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}

.three-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 40px; */
  padding: 45px 40px 66px 40px;
}

.card{
  color: var(--ct-landing-text);
  text-align: center;
  font-family: 'Candara';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-decoration-line: underline; */
}

.card h3 {
  margin-bottom: 33px;
}

.wrap__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap_slider {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 26px;
}

.wrap_slider img {
  border-radius: 25px;
}

.controls {
  /* width: 100%; */
  display: flex;
  margin: 0 auto;
  gap: 15px;
  padding-bottom: 54px;
}

.control {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: var(--ct-landing-main);
  opacity: 0.35;
  cursor: pointer;
}

.control:hover {
  opacity: .5;
}

.control__active {
  opacity: 1;
}

/* discount */

.discount {
  background-image: url(assets/bg/bg2.png);
  /* padding-left: 740px; */
  padding-left: 52.86%;
  padding-top: 11.79%;
  padding-bottom: 11.79%;
}

.window_discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 90px;
  border-radius: 25px 0 0 25px;
}

.window_discount h2 {
  color: var(--ct-landing-text);
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.window_discount form {
  padding-top: 65px;
  padding-bottom: 80px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window_discount input {
  width: 577px;
  height: 87px;
  border-radius: 25px;
  border: none;
  background: #FFFFFF;
  color: var(--ct-landing-text);
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 31px;
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer a:hover {
  color: var(--ct-landing-red);
}

.footer svg:hover{
  fill: var(--ct-landing-red);
}

.footer svg:hover path{
  fill: var(--ct-landing-red);
}